name: Terraform CI

on:
  pull_request:
    branches: [ "main", "dev" ]
  push:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  terraform-ci:
    name: terraform fmt + validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.5"

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      # Validate DEV environment
      - name: Terraform init (dev) - no backend
        working-directory: terraform/envs/dev
        run: terraform init -backend=false

      - name: Terraform validate (dev)
        working-directory: terraform/envs/dev
        run: terraform validate
